
.bespoke-slide
  background none



// Backgdrop
.fbg-image
  background-size cover !important
  &.bespoke-backdrop-active
    opacity 1

.bg-react
  background url(../images/react-wall.png) center center no-repeat

.asphalt
  background-color color-asphalt

.blue-fb
  background-color color-blue-fb

.bg-waiting
  background url(../images/waiting.gif) 0 0 no-repeat
  &.bespoke-backdrop-active
    opacity .4

.bg-micoff
  background url(../images/micoff.gif) 0 0 no-repeat
  &.bespoke-backdrop-active
    opacity .6

.bg-yellow.bespoke-backdrop-active
  background-color color-yellow
  opacity 1

.bg-white.bespoke-backdrop-active
  background-color white
  opacity 1

.bg-red.bespoke-backdrop-active
  background-color color-red
  opacity 1


// Color
.color-yellow
  color color-yellow

.color-white
  color white

.color-gray
  color color-dark-gray
