doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Reat | Jonathan Álvarez González

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section(data-bespoke-backdrop='fbg-image bg-react', data-bespoke-hash="start")

      section(data-bespoke-backdrop='asphalt')
        h2 Not a Framework
        h3 Just the UI

      section(data-bespoke-backdrop='asphalt')
        img(src="images/FB-logo.png", alt="Facebook logo")

      section(data-bespoke-backdrop='blue-fb')
        h2 No pain Upgrades
        h3 "Facebook codebase has over 20,000 React components"

      section(data-bespoke-backdrop='asphalt')
        h2 Virtual DOM
        h3 Better performance

      section(data-bespoke-backdrop='asphalt')
        h2 One-way data flow
        h3 An alternative to event and data binding architectures

      section(data-bespoke-backdrop='asphalt')
        img(src="images/data-flow-1.png", alt="Event - Data Bind Architecture like")

      section(data-bespoke-backdrop='asphalt')
        img(src="images/data-flow-2.png", alt="Event - Data Bind Architecture like")

      section(data-bespoke-backdrop='asphalt')
        img(src="images/data-flow-3.png", alt="Event - Data Bind Architecture like")


      section(data-bespoke-backdrop='asphalt')
        img(src="images/data-flow-4.png", alt="Event - Data Bind Architecture like")

      section(data-bespoke-backdrop='fbg-image bg-waiting')
        h2 Gimme the code
        h3 Our first React Component

      section(data-bespoke-backdrop='asphalt')
        img(src="images/reacts.png", alt="React, ReactDOM and React Native")

      section(data-bespoke-backdrop='asphalt')
        h2 Props VS State
        h3 Initial values ~ Changing values
        h4(class="color-yellow") Do not mutate

      section(data-bespoke-backdrop='bg-yellow')
        h2(class="color-gray") React and React's ecosystem

      section(data-bespoke-backdrop='asphalt')
        img(src="images/js-fatigue.png", alt="React (JS) Fatigue?")

      section(data-bespoke-backdrop='asphalt')
        img(src="images/react-right-way.png", alt="React vitals")

      section(data-bespoke-backdrop='bg-white')
        img(src="images/dependency-tree-jsx--lin-clark.png", alt="Bundler, by Lin Clark")
        p Image by 
          a(href="http://lin-clark.com" target="_blank") Lin Clark

      section(data-bespoke-backdrop='asphalt')
        h2 ಠ_ಠ

      section(data-bespoke-backdrop='bg-red')
        h2(class="color-white") Thinking in React
        h3(class="color-white") Its about thinking in Components and Data snapshots

      section(data-bespoke-backdrop='')
        h2 Live coding time
        h3(class="color-yellow") Let's build shopping cart together.
        p
          a(href="http://jonalvarezz.github.io/demo-react-shopping-cart/" target="_blank" class="button") Demo

      section(data-bespoke-backdrop='fbg-image bg-micoff')
        h2 Thank you
        h3
          a(href="https://twitter.com/jonalvarezz" target="_blank") @jonalvarezz

      section(data-bespoke-backdrop='asphalt')
        h2 Read More
        ul
          li http://facebook.github.io/react/index.html
          li https://github.com/petehunt/react-howto
          li https://github.com/petehunt/webpack-howto
          li https://blog.risingstack.com/the-react-way-getting-started-tutorial/
          li http://www.funnyant.com/reactjs-what-is-it/
          li http://slides.com/linclark/webpack/

    script(src='build/build.js')
